h4, h5{
    color: #159768;
    margin-top: -10%;
}
.title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contenido {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #DBD8D8;
    width: 80%;
}
input[type=text], select{
    margin-top: -10%;
    background-color: #ECECEC;
}
button {
    float: right;
    width: 150px;
    margin-bottom: -3.5%;
}

.borde-ancho {
    border-bottom: 5px solid #ccc; 
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to top, #186f3f, #5eae75);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12.5px;
  }